@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    font-family: "PT Mono", monospace;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 12%;
    background: black;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}

.logo:hover {
    color: rgb(15, 20, 173);
    text-shadow: 0 0 25px rgb(15, 20, 173),
        0 0 50px rgb(15, 20, 173);
    transform: scale(1.1);
}

span {
    color: rgb(15, 20, 173);
}

.navbar a {
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.navbar a:hover,
.navbar a.activer {
    color: rgb(15, 20, 173);
    border-bottom: 3px solid rgb(15, 20, 173);
}

.contato {
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}

.contato:hover {
    background-color: rgb(15, 20, 173);
    box-shadow: 0 0 25px rgb(15, 20, 173);
    color: white;
}

.apresentacao {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 120px 11% 0;
}

.apresentacao-inicial {
    max-width: 900px;
}

.apresentacao-inicial h3 {
    font-size: 30px;

}

.apresentacao-inicial h1 {
    font-size: 43px;
    line-height: 1.2;
}

.apresentacao-inicial h6 {
    font-size: 18px;
    margin: 25px 0 30px;
}

.btn-box {
    width: 345px;
    display: flex;
    gap: 2em;
}

.btn-1 {
    padding: 15px 28px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-1:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.btn-2 {
    padding: 15px 28px;
    background-color: rgb(15, 20, 173);
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-2 a {
    color: white;
}

.btn-2:hover {
    background-color: white;
    color: rgb(15, 20, 173);
}

.img-box img {
    border-radius: 50%;
    width: 550px;
    margin-left: 30%;
    margin-bottom: 15%;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(15, 20, 173);
}

::-webkit-scrollbar-track {
    background-color: black;
    width: 50px;
}

.habilidades {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 12% 0;
    gap: 10em;
    background-color: black;
}

.img-hab img {
    position: relative;
    width: 550px;
    box-shadow: 0 0 25px rgb(15, 20, 173),
        0 0 50px rgb(15, 20, 173);
    border-radius: 50%;
    margin-bottom: 15%;
}

.lista-halidades h2 {
    text-align: left;
    color: white;
    font-size: 42px;
}

.lista-halidades h3 {
    font-size: 62px;
    color: white;
}

.lista-halidades ul {
    color: white;
    font-size: 20px;
    margin: 2em 0 3em;
}

.pag_contato h2 {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
}

.pag_contato form {
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}

.pag_contato form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pag_contato form .input-box input,
.pag_contato form textarea {
    width: 100%;
    padding: 1.5em;
    font-size: 14px;
    color: black;
    background: white;
    border-radius: .8rem;
    margin: 13px;
    resize: none;
}

.rodape_1 {
    position: relative;
    bottom: 0%;
    width: 100%;
    padding: 40px 0;
    background-color: black;
}

.rodape_1 .social {
    text-align: center;
    padding-bottom: 25px;
    color: white;
}

.rodape_1 .social a {
    font-size: 24px;
    color: white;
    border: 2px sold rgb(15, 20, 173);
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px rgb(15, 20, 173), 0 0 10px rgb(15, 20, 173);
    transition: 0.3s ease;
}

.rodape_1 .social a:hover {
    transform: scale(1.2) translateY(-10px);
    color: rgb(15, 20, 173);
    border: 2px solid rgb(15, 20, 173);
}

.rodape_1 ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.rodape_1 ul li a {
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.rodape_1 ul li a:hover {
    border-bottom: 3px solid rgb(15, 20, 173);
}

.rodape_1 ul li {
    display: inline-block;
    padding: 0 15px;
}

.pagina {
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 120px 11% 0;
}

.pagina_tabela {
    width: 80%;
    background-color: transparent;
    align-items: center;
    gap: 7em;
    padding: 120px 9% 0;
}

.pagina_tabela h2 {
    font-size: 30px;
    line-height: 1.2;
}

.tabela_exp,
th,
td {
    border: solid 2px black;
    border-collapse: collapse;
    text-align: center;
}

.tabela_exp,
td {
    background-color: white;
}

.tabela_exp thead {
    background-color: rgb(15, 20, 173);
    color: white;
}

.tecnologias {
    margin-top: 10%;
    width: 70%;
}

.tecnologias h2 {
    line-height: 2;
}

.tecnologias .lista_tec {
    margin-left: 30px;
    line-height: 1.5;
}

.rodape_2 {
    position: absolute;
    bottom: 0%;
    width: 100%;
    padding: 15px 0;
    background-color: black;
}

.rodape_2 .social {
    text-align: center;
    padding-bottom: 25px;
    color: white;

}

.rodape_2 .social a {
    font-size: 24px;
    color: white;
    border: 2px sold rgb(15, 20, 173);
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px rgb(15, 20, 173), 0 0 10px rgb(15, 20, 173);
    transition: 0.3s ease;
}

.rodape_2 .social a:hover {
    transform: scale(1.2) translateY(-10px);
    color: rgb(15, 20, 173);
    border: 2px solid rgb(15, 20, 173);
}

.sobre_mim {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 12% 0;
    gap: 10em;
}

.tab_historico h2 {
    color: white;
}

.body_2{
    background-color: black;
}
.projetos{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 120px 11% 0;
    color: white;
}

.img-exp img{
    border-radius: 10%;
    white-space: 30px;
    width: 650px;
    box-shadow: 0 0 25px rgb(15, 20, 173),
        0 0 50px rgb(15, 20, 173);
    border-radius: 10%;
    margin-top: 10%;
}